.title{
    width: 100%;
    height: 80px;
    color: #fff;
    background: #222222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.title-text{
    padding-top: 20px;
    padding-left: 50px;
}

.container form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text{
    color: #222222;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.underline{
    width: 61px;
    height: 6px;
    background: #222222;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 550px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 30px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #222222;
    font-size: 16px;
    margin-left: 20px;
}
.input p{
    color: red;
    font-size: 10px;
}
.forgotPassword{
    text-align: right;
    padding-right: 30px;
    color: #222222;
    font-size: 14px;
    padding-top: 10px;
}
.forgot-password{
    text-align: center;
    color: #222222;
    font-size: 14px;
}

.forgot-password span{
    color: #222222;
    font-weight: 700;
    cursor: pointer;
}

.forgot-password span .btn{
    text-decoration: none;
    color: #222222;
}

.submit-container{
    display: flex;
    gap:30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 48px;
    color: #fff;
    background: #222222;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
