/* src/components/HomePage.css */
.homepage {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.homeh1 {
    text-align: center;
    color: #6432a8; /* Your color theme */
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Sort Options */
.sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.sort-options label {
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #6432a8;
}

.sort-options select {
    padding: 10px 15px;
    width: 200px;            /* Increased width of the dropdown */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.sort-options select:focus {
    border-color: #6432a8;
    outline: none;
    box-shadow: 0 0 8px rgba(100, 50, 168, 0.5);
}

.sort-options select:hover {
    border-color: #888;
}



.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.auction-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.auction-item:hover {
    transform: scale(1.05);
}

.bid-button {
    background-color: #32a852;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bid-button:hover {
    background-color: #28a745;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #333;
}

/* src/components/HomePage.css */
.add-item-link {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6432a8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.add-item-link:hover {
    background-color: #502990;
}




/* Hero Section Styles */
.hero {
    position: relative;
    height: 60vh;
    background-image: url('../Assests/bgphoto2.jpeg'); /* Link to the background image */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white; /* Text color to ensure readability */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

/* Additional styles can be added below */
